*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: black;
}
#spotlight div{
    padding: 20px 0;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
#spotlight div img{
    width: 100%;
    border-radius: 50%;
    padding: 10px 0;
}
h1{
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin: 10px 0;
}
p{
    color: white;
    text-align: center;
    font-weight: 300;
    font-family:'Open Sans', sans-serif;
    margin: 10px 0;
}
.card{
    background-color: rgb(32, 30, 30);
    display:flex;
    max-width:500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    color: white;
   }
.icon{
    width: 10%;
    filter: invert(1);
}
.cardcontent{
    width: 200%;
    text-align: center;
}
h4{
    text-align: center;
}
a{
    color: white;
}
.logoend{
    color: red;
    padding: 20px 0;
    width: 200px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
}
.logoend img {
    margin: 0 auto;
    border-radius: 10px;
}
